#body-inicio #header {
  .column--item-1 .image {
    @extend %draw;
    --draw-duration: 7.5s;
  }
  @mixin show-from($delay) {
    animation: show-from .5s (1 + .25s * $delay) both;
  }
  .subtitle {       @include show-from(1); }
  blockquote {      @include show-from(2); }
  .buttons {        @include show-from(3); }
  .column--item-2 { @include show-from(4); --show-from: rotateY(90deg); }
  .bg-figure-image {
    object-position: 50% 40%;
  }
}

#resenas {
  .bg-figure-image img {
    object-position: 50% 10%;
  }
}

// #i-am {
//   .column--only-bg {
//     min-height: calc(var(--column-width) * 1.5);
//   }
// }

.contact__address {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.375em;
}

#body-fotos {
  .logo__link {
    justify-content: center;
  }
}

#clases-de-salsa-online {
  video {
    --mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='940' height='788' viewBox='0 0 940 788'%3E%3Cpath d='M0 0h940v788H0z' paint-order='stroke fill markers'/%3E%3Cpath fill='%23fff' d='M93.3 177.4a23 23 0 0 0-23 23V589H0v9.2c0 5 4 9 9 9h6.5c0 2 1.6 3.4 3.4 3.4h717.5c2 0 3.3-1.6 3.3-3.4h6.5q3.6-.1 6-2.3h154a33.7 33.7 0 0 0 33.7-33.7V411a33.7 33.7 0 0 0-33.7-33.7H685v-177a23 23 0 0 0-23.1-23z'/%3E%3C/svg%3E");
    mask-image: var(--mask-image);
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-mode: luminance;
    -webkit-mask-image: var(--mask-image);
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
  }
}
