#body-inicio #header {
  .column--item-1 .image {
    @extend %draw;
    --draw-duration: 7.5s;
  }
  @mixin show-from($delay) {
    animation: show-from .5s (1 + .25s * $delay) both;
  }
  .subtitle {       @include show-from(1); }
  blockquote {      @include show-from(2); }
  .buttons {        @include show-from(3); }
  .column--item-2 { @include show-from(4); --show-from: rotateY(90deg); }
  .bg-figure-image {
    object-position: 50% 40%;
  }
}

#resenas {
  .bg-figure-image img {
    object-position: 50% 10%;
  }
}

// #i-am {
//   .column--only-bg {
//     min-height: calc(var(--column-width) * 1.5);
//   }
// }

.contact__address {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.375em;
}

#body-fotos {
  .logo__link {
    justify-content: center;
  }
}
